
a{
  color:black;
  text-decoration:none;
}
h1{
  font-size:30px;
  text-align:center;
  border-bottom:1px solid black;
  padding-bottom:15px;
  margin:0;
}
ol{
  border-right:1px solid black;
  width: 180px;
  margin:0;
  padding:20px;
}
#grid{
  display:grid;
  grid-template-columns:220px 1fr;
}
#grid #article{
  padding-left:10px;
  line-height:200%;
}
@media(max-width:800px){
  #grid{
    display:block;
  }
  ol{
    border-right:none;
  }
}
